{% extends 'base.html.twig' %}

{% block title %} {{ 'category'|trans }} {{ category.name}} {% endblock %}
{% block body %}
    <h1>{{ category.name|capitalize }}</h1>
    {% for program in programs %}
        <div class="media-body">
            <h2 class="mt-0">{{ program.id }} / <a href="{{ path("program_show", { program: program.slug}) }}">{{ program.title}}</a> </h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>

{% endblock %}