{% extends 'base.html.twig' %}

{% block title %} Saison {% endblock %}
{% block body %}
<h1>{{ program.title }} </h1>
    <div class="media">
    <img class="align-self-start mr-3 film-poster" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h2 class="mt-0"> Saison : {{ season.number }} </h2>
                    <p>{{ episode.number }} : {{ episode.title }}</p>
                    <p>{{ episode.synopsis }}</p>
        </div>
    <div class="comment">
        {% for comment in episode.comments|reverse %}
            <div class="card">
                <h3>commentaire :</h3> <p> {{ comment.comment }} </p>
                <h3>note : {{ comment.rate }}</h3>
                <h3>auteur : {{ comment.author.username }}</h3>
                {% if app.user and (app.user.username == comment.author.username or is_granted("ROLE_ADMIN")) %}
                    <a href="{{ path("comment_edit", { id: comment.id }) }}">
                        <button class="btn">éditer</button>
                    </a>
                    <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Sur ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
        <div class="media-body">
            {% if app.user %}
                <br>
                <h5>Ajouter un commentaire :</h5>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-lg btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}