{% extends 'base.html.twig' %}

{% block title %} Série #{{ program.id }}{% endblock %}
{% block body %}

<div class="media">
    <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{  program.title }}</h1>
        <p>{{ program.summary }}</p>
        <p>Catégorie : {{ program.category.name }}</p>
        {%for season in seasons %}
            <a href="{{ path('program_season_show', {program: program.id, season:season.id}) }}">Saison {{ season.number }}</a>
            <a href="{{ path('season_delete', {'id': season.id}) }}">Delete</a>
            <hr>
        {% endfor %}
        <a href="{{ path('season_new') }}"> Ajouter une nouvelle saison </a>
        <hr>
        <strong>Acteurs :</strong>
        <ul>
            {% for actor in program.actors %}
                <a href="{{ path("actor_show", {id: actor.id}) }}"><li>{{ actor.name }} </li></a>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
    </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}